/***************************************************
    REGOLE GENERALI
****************************************************/

body {
    font-family: 'PT Sans', sans-serif;
}

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --dark-grey: #333333;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-medium {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-small {
    max-width: 19rem;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color: #FFF;
    border-radius: 20px;
    color: black;
    padding: 0.5em 0.8em;
}

.column {
    flex-direction: column;
}

.button-large {
    padding: 0.3em 3em;
}

.button-blue {
    background-color: var(--blue);
    color: #FFF;
}

.button-purple {
    background-color: var(--purple);
    color: #FFF;
}

.card {
    border-radius: 10px;
    padding: 35px 30px 0;
    gap: 2rem;
    height: 100%;
    line-height: 2rem;
}

section:nth-child(even) {
    background-color: var(--purple);
}

/***************************************************
    HEADER
****************************************************/
.main-header {
    padding: 1rem 0;
    background-color: var(--blue);
    color: #FFF;
}

.main-header .container.flex {
    justify-content: space-between;
    align-items: center;
}

.nav-list .flex {
    gap: 30px;
}

.main-header .nav-bars {
    cursor: pointer;
    font-size: 1.75rem;
}

.main-header .nav-list {
    display: none;
}
/***************************************************
    MAIN
****************************************************/
/* HERO */
.hero {
    padding: 50px 0 100px;
}

.hero .flex,
.hero .card-head {
    gap: 20px;
}

.hero .card {
    background-color: var(--light-blue);
}

.hero #main-card .card-head {
    align-items: flex-start;
}

.hero .card-icon {
    font-size: 5rem;
}

.hero .card-icon,
.hero .card-title {
    color: var(--blue);
}

.hero .card:not([id="main-card"]) {
    align-items: center;
    text-align: center;
    padding-bottom: 35px;
}

.hero #main-card .card-img {
    justify-content: center;
}

.hero #main-card .card-img img {
    display: block;
    width: 200px;
}
/* FINE HERO */

/* STRATEGIC PLANING */

.strategic {
    padding: 70px 0 60px;
}

.strategic .flex {
    gap: 40px;
}

.strategic .col.strategic-head .strategic-img {
    margin-bottom: 95px;
}

.strategic .col.strategic-head .strategic-title {
    margin-bottom: 50px;
}

.strategic .strategic-title {
    font-size: 1.5rem;
}

.strategic .card {
    background-color: #FFF;
    border-radius: 50px;
    padding: 2rem 1.5rem;
    text-align: center;
    gap: 1.5rem;
}

.strategic .arrow-down i {
    background-color: var(--purple);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    cursor: pointer;
}

.strategic .strategic-head {
    color: #FFF;
}

/* FINE STRATEGIC PLANING */

/* INIZIO TESTIMONIALS */
.testimonials {
    padding: 70px 0 110px;
}

.testimonials .container {
    gap: 40px;
}

.testimonials .container {
    text-align: center;
}

.testimonials .testimonials-title2 {
    font-size: 2rem;
    color: var(--purple);
    font-weight: bold;
}

.testimonials .testimonials-card {
    background-color: var(--purple);
    border-radius: 50px;
    padding: 2rem 1.5rem;
    gap: 2rem;
    justify-content: center;
    color: #FFF;
}

.testimonials .testimonials-card__img {
    justify-content: center;
}

.testimonials .testimonials-card>* {
    flex-basis: 100%;
}

.img-circle {
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
}

.testimonials .column {
    gap: 2rem;
}

.testimonials .description {
    line-height: 2rem;
}

.testimonials .testimonials-description {
    display: contents;
}

.testimonials .testimonials-description .card-name {
    font-weight: bold;
}
/* INIZIO TESTIMONIALS */

/* INIZIO BENEFITS */
.benefits .card {
    background-color: #FFF;
    padding: 2rem;
    flex-basis: 100%;
    align-items: flex-start;
}

.benefits .flex {
    gap: 2rem;
}

.benefits .benefits-title {
    color: #FFF;
    text-align: center;
    margin-bottom: 4.5rem;
}

.card-title,
.card-sub-title {
    color: var(--purple);
}

.benefits .benefits-title,
.card-title {
    font-size: 2.5rem;
}

.card-sub-title {
    font-size: 1.4rem;
}

.benefits {
    padding: 4rem 0 4rem;
}

/* FINE BENEFITS */

/* INIZIO ABOUT US */
.about-us {
    padding: 70px 0 70px;
}

.about-us>* {
    flex-basis: 100%;
    align-items: flex-start;
}

.about-us {
    gap: 3.5rem;
}

.about-us .about-head {
    gap: 4rem;
    line-height: 2rem;
}

.about-us .about-body {
    gap: 1.5rem;
    margin-top: 20px;
}
/* FINE ABOUT US */

/***************************************************
    FOOTER
****************************************************/


/***************************************************
    MEDIA QUERY
****************************************************/
/* Versione Mobile */

/* Versione Tablet*/

/* Versione Desktop  */

